{% extends "base.html.twig" %}
{% block content %}
 <div id="content" class="content">
        <h1>{{ post.title }}</h1>
        {{ html|raw }}
        {% include 'tags.html.twig' %}      
 </div> 
{% endblock %}
