{% extends "base.html.twig" %}

{% block content %}
 <div id="content">
    
       {%    for post in posts  %}
    
    <h1>{{ post.title }}</h1>
    <br/>
    {{ post.contents | raw}}
              </div>
 <br/>
 {% endfor %}

{% endblock %}
