{% extends "base.html.twig" %}

{% block content %}

    
       {%    for post in posts  %}
     <div id="content">
   		 <h1><a href='/post/{{  post.path }}'>{{ post.title }}</a></h1>
   		    			{{ post.contents | raw}}
     </div>
 
 {% endfor %}

{% endblock %}
